[run]
source = src/
omit =
    *__init__.py
    src/cli/*
    src/tests/*
    src/asgi.py
    src/worker.py

[report]
omit =
    *__init__.py
    src/cli/*
    src/tests/*
    src/asgi.py
    src/worker.py
