[MASTER]

ignore-paths=src/tests/

[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        fixme,
        broad-except,
        too-few-public-methods,
        superfluous-parens,

[FORMAT]

max-line-length=100
max-args = 6
max-positional-arguments = 6

[BASIC]

good-names=id,_,s3,f
