[MASTER]

ignore-paths=src/tests/

[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        fixme,
        broad-except,


[TYPECHECK]

ignored-classes=scoped_session,SQLAlchemy,alembic.context,ldap


[FORMAT]

max-line-length=100

[BASIC]

good-names=id,_,s3

