services:
  web:
    image: ${DOCKER_IMAGE:-podcast-service}
    build:
      context: .
    env_file:
      - .env
    environment:
      - APP_SERVICE=web
    ports:
      - 127.0.0.1:${APP_PORT}:8000

  rq:
    image: ${DOCKER_IMAGE:-podcast-service}
    build:
      context: .
    env_file:
      - .env
    environment:
      - APP_SERVICE=rq

  test:
    image: ${DOCKER_IMAGE:-"podcast-service:dev"}
    build:
      context: .
      args:
        DEV_DEPS: "true"
    env_file:
      - .env
    environment:
      - APP_SERVICE=test
