[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
webargs-starlette = "==2.1.0"
asyncpg = "==0.31.0"
psycopg2-binary = "==2.9.11" # for alembic only
sqlalchemy = "==2.0.47"
jinja2 = "==3.1.6"
python-multipart = "==0.0.27"
httpx = "==0.28.1"
aiosmtplib = "==5.1.0"
pycryptodome = "==3.23.0"
uvicorn = "==0.41.0"
websockets = "==16.0"  # required for uvicorn WebSocket support (ASGI)
greenlet = "==3.3.2"
python-dotenv = "==1.2.2"
starlette = "==1.0.1"
rq = "==2.7.0"
alembic = "==1.18.4"
redis = "==7.2.1"
boto3 = "==1.42.59"
sentry-sdk = "==2.53.0"
pyjwt = "==2.13.0"
yt-dlp = "==2026.06.09"

[dev-packages]
pytest = "~=8.3.3"
pytest-asyncio = "~=0.24.0"
coverage = "~=7.6.7"
black = "~=26.3.1"
pylint = "~=3.3.1"
GitPython = "~=3.1.44"

[scripts]
bump = {call = "etc.bump:main()"}

[requires]
python_version = "3.13"
# sudo apt install ffmpeg
# export LDFLAGS=$(pg_config --ldflags)
