[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "==0.13.8"
webargs-starlette = "==2.0.0"
uvicorn = "==0.13.4"
rq = "==1.7.0"

psycopg2 = "==2.8.6"  # in order to use in alembic
gino = {version = "==1.0.1", extras = ["starlette"]}
alembic = "==1.4.3"

PyJWT = "==2.0.0"
httpx = "==0.16.1"
redis = "==3.5.3"
boto3 = "==1.17.33"
youtube_dl = "==2021.5.16"
sentry-sdk = "==1.1.0"
python-dotenv = "==0.15.0"
Jinja2 = "==2.11.3" # rss-file rendering

[dev-packages]
pytest = "==6.1.2"
requests = "==2.25.0"
coverage = "==5.3"
black = "==20.8b1"
flake8 = "==3.8.4"

[requires]
python_version = "3.9"
# sudo apt install ffmpeg
# export LDFLAGS=$(pg_config --ldflags)
