version: '3'
services:
  web:
    image: ${DOCKER_IMAGE}
    env_file:
      - .env
    environment:
      - APP_SERVICE=web
    ports:
      - 127.0.0.1:${APP_PORT}:8000
    networks:
      - internal-subnet

  rq:
    image: ${DOCKER_IMAGE}
    env_file:
      - .env
    environment:
      - APP_SERVICE=rq
    networks:
      - internal-subnet
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: '0.5'

  migrate_db:
    image: ${DOCKER_IMAGE}
    env_file:
      - .env
    environment:
      - APP_SERVICE=migrate_db
    networks:
      - internal-subnet

networks:
  internal-subnet:
    external: true
